.vscode/
.idea/
.DS_Store
package-lock.json
*.js
!src/*-hooks.js
build/
*.log.*
!demo/karma.conf.js
demo/*.d.ts
demo/firebasefunctions/functions/lib
!demo-push/karma.conf.js
demo-push/*.d.ts
demo-ng/*.d.ts
!demo-ng/webpack.config.js
!demo-vue/app/main.js
!demo/references.d.ts
!demo-push/references.d.ts
!demo-ng/references.d.ts
demo/lib
demo-push/lib
demo-ng/lib
demo/platforms
demo-push/platforms
demo-ng/platforms
node_modules
!publish/scripts/*.js
publish/package
/npm-debug.log
*.p12
